.navbar{
    flex-direction: column;
    height: 120px;
    padding: 20px;
    z-index: 999;
}

.navbar a{
    padding: 10px;
    margin: 0 3px;
}

.flex-items{
    flex-direction: column;
}

.flex-columns .column, .flex-grid .column{
    flex: 100%;
    max-width: 100%;
}

.team img{
    width: 70%;
}